*{
  margin: 0;
  font-family:Arial;
  border:border-box;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #131921;
  top: 0;
  left: 0;
  right: 0;

  height: 255px;
  flex-direction: row;
  position: fixed;
}
.navbar-edit{
  width: 30px;
  height: 20px;
  display: flex;
}
.imgedit{
  width: 30px;
  height: 20px;
}
.text{
  color:white;
}


